body {
  background-color: #607D8B;
  color: #ECEFF1;
}
.navbar-head{
  background-color: white;
  height: 70px;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
justify-content: center;
margin: 0 auto;
}
#links{
  text-align: right;
  float: right;
  height: auto;

}
#logo{
  text-align: left;
  width: 10%;
  margin: 0;
  float: left;
  height: auto;
}
.login{
  color: black;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}
.nature{
  color: #4CAF50;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}
.tourism{
  color: #FDD835;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}
.bars{
  color: #F57C00;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}
.restaurants{
  color: #795548;
  font-size: 25px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}
.login:hover{
  transition: 112ms;
  color:black;
}
.restaurants:hover .navicon2{
  color: white;
  background-color: #A1887F;
    text-decoration: none;
    transition: 112ms;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
}
.nature:hover .navicon4{
  color: white;
  background-color: #81C784;
    text-decoration: none;
    transition: 112ms;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
}
.tourism:hover .navicon3{
  color: white;
  background-color: #FFF176;
    text-decoration: none;
    transition: 112ms;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
}
.bars:hover .navicon1{
  color: white;
  background: #FF8A80;
    text-decoration: none;
    transition: 112ms;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
}
#meldung{
  color:white;
}
#randomImg{
  height:30%;
  width:100%;
  display:block;
  padding:150px 0 0 0 ;
  Position:absolute;
  margin-top:100px;
  top:0;
  left:0;
}
.img{
  height:100%;
  width:auto;
  margin:0;

}
.descr{
  color:white;
}
#gallery{
  margin-top:300px;
  display:block;
}
#piclogo{

}
.navicon1 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}
.navicon2{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}
.navicon3 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  margin-right: 50px;
}
.navicon4 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}
#db{
  color:black;
  font-size: 40px;
}

#register{
  color: #ECEFF1;
  text-decoration: underline;
}
#register:hover{
  font-size: 15px;
}
